<%- include('header', {title: `User Login`}); -%>



  <h1 style="text-align: center">User Login</h1>
  <span>Please login before proceeding</span>
  <div class="form-signin bg-light">
    <form action="/login" method="POST">
      <img class="mb-4" src="/img/CF_Mark.jpeg" alt="" width="72">


      <div class="form-floating">
        <input name="username" type="username" class="form-control" id="floatingInput" placeholder="AmyKor">
        <label for="floatingInput">username</label>
      </div>
      <div class="form-floating">
        <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>


      <button class="w-100 btn btn-lg btn-dark" type="submit">Login</button>
    </form>
  </div>

  <%- include('footer'); -%>