<%- include('header', {title: `Surprise Me!`}); -%>

  <h1 style="text-align: center">Surprise Me!</h1>
  <h2>Dunno eat what? </h2>
  <h3>Choose a criteria and we decide for you!</h3>
  <label for="selection">I want to select by:</label>
  <form action="/surprise" method="POST">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 col-m-2 col-lg-1">
          <select class="form-select form-select-s mb-3" aria-label=".form-select-lg example">

            <option selected>Select by</option>
            <option value="1">Area</option>
            <option value="2">Cuisine</option>
            <option value="3">Ratings</option>
          </select>
        </div>
      </div>
    </div>

  </form>
  <br>
  <br>
  <br>

  <%- include('footer'); -%>