<%- include('header', {title: `Surprise Me!`}); -%>

  <h1 style="text-align: center">Surprise Me!</h1>
  <h2>Dunno eat what? </h2>
  <h3>Choose a criteria and we decide for you!</h3>
  <label for="selection">I want to select by:</label>
  <form action="/surprise" method="POST">
    <div class="container">
      <div class="col-md-12 mb-3 submit-label">
        <label for="areas" class="form-label">Area</label>
        <br>
        <select name="area" required>
          <% areas.forEach((area)=> { %>
            <option value="<%= area %>">
              <%= area %>
            </option>
            <% }); %>
        </select>
      </div>

      <div class="col-md-12">
        <input type="submit" value="Submit">
      </div>
  </form>
  <br>
  <br>
  <br>

  <%- include('footer'); -%>