<%- include('header', {title: `Surprise Me!`}); -%>
  <div class="card text-dark bg-light mb-3 surprise-card">
    <div class="card-header">Surprise Me!</div>
    <div class="card-body">
      <h5 class="card-title">Dunno eat what?</h5>
      <p class="card-text">Choose an area and we decide for you!
      </p>
      <p>I want to select by:</p>
      <form action="/surprise" method="POST">
        <div class="container">
          <div class="row">
            <div class=" col-4 mb-3 submit-label">
              <label style="font-size: large;" for="areas" class="form-label">Area</label>
              <select name="area" required>
                <% areas.forEach((area)=> { %>
                  <option value="<%= area %>">
                    <%= area %>
                  </option>
                  <% }); %>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>


  <br>
  <br>
  <br>

  <%- include('footer'); -%>