<%- include('header', {title: `welcome`}); -%>
  <div class="container py-4">


    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Makan Where</h1>
        <p class="col-md-8 fs-4">Makan Where is a platform dedicated to Halal food establishments in Singapore. Search
          for halal establishments in Singapore and help to contribute to the directory! </p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6 ">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Registration</h2>
          <p>Please register for an account to gain access to Makan Where directory. Registration is fast and easy!</p>
          <button class="btn btn-outline-light registerbtn" type="button">Register Now</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Login</h2>
          <p>For existing members <br><button class="btn btn-outline-secondary loginbtn"
              type="button">Login</button><br>
            here!
          </p>

        </div>
      </div>
    </div>


    <%- include('footer'); -%>